block variables
  - var error;

doctype html
html(lang='ru' class={'html-not-found': error === 404, 'html-server': error === 500})
  head
    meta(charset='UTF-8')
    meta(name='description' content='Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Куплю Продам
    link(rel='stylesheet' href='/css/style.min.css')
  body(class={'body-not-found': error === 404, 'body-server': error === 500})
    block error
    script(src='/js/vendor.js')
    script(src='/js/main.js')
